/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.tab {
  -fx-font-size: 14;
  /*-fx-background-color:#EBBCB5;*/
  -fx-padding: 4 20 4 20;
}


.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #96b946;
}